@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #eaeded;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 2px 10px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  background: #f0c14b;
  border: 1px solid;
  border-radius: 3px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.grey-text {
  color: grey;
  font-size: 14px;
}
