.signup {
  padding: 1rem 1.5rem 0.2rem 1.5rem;
}

.signup h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.signup label {
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 700;
}

.signup input {
  margin-bottom: 1rem;
  width: 100%;
  font: inherit;
  padding: 5px 7px;
  border: 1px solid #f3a847;
  border-radius: 3px;
}

.i-pwd {
  margin-bottom: 0 !important;
}

.signup .info {
  font-size: 13px;
  color: grey;
  margin: 3px 0 1.5rem 0;
}

.signup p {
  text-align: left;
  color: black;
  line-height: 1.6;
}

.signup button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 3px;
  font: inherit;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border: 1px solid;
  margin: 2rem 0;
}

.signin {
  padding: 1rem 0;
  border-top: 3px solid lightgrey;
}

.signup p a {
  color: #1c61e0;
  font-size: 13px;
}

.signup a {
  color: #1c61e0;
  font-size: 14px;
}
